<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE-STANDARD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Application logging for tests -->
    <logger name="info.jab.cli" level="INFO"/>

    <!-- Root logger for tests -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
